.header {
  width: 100%;
  height: 5.36rem;
  background: url("../../common/images/1.jpg");
  background-size: 100% 100%;
  padding-top: 0.96rem;
  padding-left: 0.96rem;
  box-sizing: border-box;
  position: relative; }
  .header .header-bgc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5.36rem;
    background-color: rgba(7, 17, 27, 0.5);
    filter: blur(10px); }
  .header .header-img {
    width: 2.56rem;
    height: 2.56rem;
    float: left;
    border-radius: 0.08rem; }
    .header .header-img img {
      width: 100%;
      height: 100%;
      filter: blur(0); }
  .header .header-text {
    margin-left: 0.64rem;
    float: left;
    filter: blur(0); }
    .header .header-text p:nth-child(1) {
      margin-top: 0.08rem;
      font-size: 0.64rem;
      color: white;
      font-weight: bold;
      line-height: 0.72rem;
      text-align: center; }
      .header .header-text p:nth-child(1) .brand {
        width: 1.2rem;
        height: 0.72rem;
        vertical-align: middle; }
    .header .header-text p:nth-child(2) {
      font-size: 0.48rem;
      color: white;
      font-weight: 200;
      line-height: 0.48rem;
      margin-top: 0.32rem; }
    .header .header-text p:nth-child(3) img {
      width: 0.48rem;
      height: 0.48rem;
      vertical-align: middle; }
    .header .header-text p:nth-child(3) span {
      margin-left: 0.16rem;
      vertical-align: middle;
      font-size: 0.4rem;
      color: white;
      font-weight: 200;
      line-height: 0.48rem;
      margin-top: 0.4rem; }
    .header .header-text .header-num {
      position: absolute;
      right: 0.48rem;
      top: 2.7rem;
      width: 1.7rem;
      height: 0.96rem;
      line-height: 0.48rem;
      font-weight: 200;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 0.32rem;
      text-align: center;
      padding-left: 0.32rem;
      box-sizing: border-box; }
      .header .header-text .header-num a {
        font-size: 0.4rem;
        color: white; }
  .header .notice {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.12rem;
    background-color: rgba(7, 17, 27, 0.2);
    padding-left: 0.48rem;
    padding-right: 0.48rem;
    box-sizing: border-box;
    line-height: 1.12rem; }
    .header .notice img {
      width: 0.84rem;
      height: 0.48rem;
      float: left;
      line-height: 1.12rem;
      margin-top: 0.3rem; }
    .header .notice p {
      float: left;
      margin-left: 0.16rem;
      font-size: 0.4rem;
      color: white;
      font-weight: 200;
      line-height: 1.12rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 12.4rem;
      vertical-align: middle; }
    .header .notice a {
      font-size: 0.4rem;
      color: white;
      margin-left: 0.16rem;
      vertical-align: top; }

.nav {
  width: 100%;
  height: 1.6rem;
  border-bottom: 1px solid rgba(7, 17, 27, 0.1); }
  .nav ul {
    list-style: none;
    text-align: center; }
    .nav ul li {
      width: 33.3%;
      font-size: 0.56rem;
      line-height: 1.6rem;
      color: #4d555d;
      float: left; }

.list-bgc {
  width: 100%;
  height: 1.2rem;
  background-color: rgba(7, 17, 27, 0.1);
  position: fixed;
  z-index: -1; }

.list {
  width: 3.2rem;
  height: 16rem;
  float: left; }
  .list .list-content {
    list-style: none; }
    .list .list-content li {
      box-sizing: border-box;
      width: 3.2rem;
      height: 2.1rem;
      padding-left: 0.48rem;
      background-color: #f3f5f7; }
      .list .list-content li a {
        display: block;
        width: 2.24rem;
        height: 2.1rem;
        line-height: 2.1rem;
        font-size: 0.48rem;
        color: #171f28;
        border-bottom: 1px solid rgba(7, 17, 27, 0.1); }

.list-foodall {
  width: 11.7rem;
  height: 5.6rem;
  float: left; }
  .list-foodall .list-name {
    width: 11.7rem;
    height: 1.2rem;
    background-color: #f3f5f7;
    margin-left: 0.1rem; }
    .list-foodall .list-name p {
      font-size: 0.48rem;
      color: #a0a5ab;
      line-height: 1.2rem;
      padding-left: 0.48rem; }
  .list-foodall .food {
    width: 11.8rem;
    height: 4.4rem;
    background-color: pink;
    box-sizing: border-box;
    padding: 0.72rem; }
    .list-foodall .food .food-box {
      width: 10.36rem;
      height: 3rem;
      border-bottom: 1px solid rgba(7, 17, 27, 0.1); }
      .list-foodall .food .food-box .food-img {
        width: 2.28rem;
        height: 2.28rem;
        float: left; }
        .list-foodall .food .food-box .food-img img {
          width: 100%;
          height: 100%; }
      .list-foodall .food .food-box .food-text {
        float: left;
        margin-left: 0.4rem;
        position: relative;
        width: 7.64rem; }
        .list-foodall .food .food-box .food-text p:nth-child(1) {
          font-size: 0.56rem;
          color: #07111b;
          line-height: 0.56rem; }
        .list-foodall .food .food-box .food-text p:nth-child(2) {
          margin-top: 0.32rem;
          font-size: 0.4rem;
          color: #93999f;
          line-height: 0.4rem; }
        .list-foodall .food .food-box .food-text p:nth-child(3) {
          margin-top: 0.32rem;
          font-size: 0.4rem;
          color: #93999f;
          line-height: 0.4rem; }
          .list-foodall .food .food-box .food-text p:nth-child(3) span {
            margin-left: 0.48rem; }
        .list-foodall .food .food-box .food-text p:nth-child(4) {
          font-size: 0.4rem;
          color: #f01414; }
          .list-foodall .food .food-box .food-text p:nth-child(4) span:nth-child(1) {
            font-size: 0.56rem;
            font-weight: 700;
            line-height: 0.96rem; }
          .list-foodall .food .food-box .food-text p:nth-child(4) span:nth-child(2) {
            font-size: 0.4rem;
            font-weight: 700;
            color: #93999f;
            text-decoration: line-through; }
          .list-foodall .food .food-box .food-text p:nth-child(4) span:nth-child(3) {
            display: block;
            float: right;
            width: 0.8rem;
            height: 0.8rem; }
            .list-foodall .food .food-box .food-text p:nth-child(4) span:nth-child(3) img {
              width: 100%;
              height: 100%; }
          .list-foodall .food .food-box .food-text p:nth-child(4) span:nth-child(4) {
            text-align: center;
            line-height: 0.8rem;
            float: right;
            width: 0.96rem;
            height: 0.8rem; }
            .list-foodall .food .food-box .food-text p:nth-child(4) span:nth-child(4) img {
              width: 100%;
              height: 100%; }
          .list-foodall .food .food-box .food-text p:nth-child(4) span:nth-child(5) {
            display: block;
            float: right;
            width: 0.8rem;
            height: 0.8rem; }
            .list-foodall .food .food-box .food-text p:nth-child(4) span:nth-child(5) img {
              width: 100%;
              height: 100%; }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.2rem;
  background-color: #141d27; }
  .footer .bg-circle {
    position: absolute;
    left: 0.6rem;
    top: -0.4rem;
    width: 2.32rem;
    height: 2.32rem;
    border-radius: 50%;
    background-color: #141d27; }
    .footer .bg-circle .car {
      margin-top: 0.24rem;
      margin-left: 0.72rem;
      width: 2.2rem;
      height: 2.2rem;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.4); }
  .footer p {
    font-size: 0.64rem; }
